body {
    width: 960px;
    margin: 0 auto;
    background-color: rgba(95, 49, 6, 0.931);
}
#nathan {
    float: left;
    vertical-align:middle;
    margin: 0px 50px
}

header h1 {
    background-color: black;
    height: 50px;
    color: gold;
}

p {
    font-size: 20px;
}

main h2 {
    font-size: 30px;
    text-shadow: 1px 1px blanchedalmond;
}

header {
    text-align: center;
}

main img {
    width: 350px;
}